*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw!important;
}

.chat-container{
  display: flex;
  flex-direction: row;
  width: 100% !important;  
  /* justify-content: center;
  align-items: center; */
}

.aside{
  width: 30%;
  /* background-color: red; */
  padding-right: 1rem;
}

.section{
  width: 70%;
  /* background-color: black; */
  height: 100vh;
  border-left: solid 2px;
  border-color: gray;
}

.chat-form{
  width: 100% !important;
}

.chat-form form{
  width:  100% !important;
}

.chat-box-container{
  display: flex;
  flex-direction: column;
  /* background-color: rgb(244, 222, 244); */
  height: 100vh !important;
}

.chat-box{
  height: 90% !important;
  background-color: white !important;
}

.chat-box-header{
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
}

.nothing-found{
  display: none;
}